@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);

@keyframes pop_char     { from {bottom:-.5em; opacity: 0; transform:scale(.8)}}
@keyframes hide_char    { to   {transform:scale(.5)} }
@keyframes hided_char   { from {transform:scale(.5)} }
@keyframes blink_cursor { from {opacity: 0} }

.motion_field{
	display: inline-block;
	position: relative;
	font-family: 'Roboto';
	font-size: 2.2em;
	min-width: 6em;
	min-height: 2.2em;
	padding: .4em .6em;
	text-align: center;
	cursor: text;
	&:before{
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: .2em;
		border: .08em solid #C5CAE9;
		border-top-width: 0;
	}
	&:after{
		content: '';
		display: inline-block;
		position: relative;
		width: .08em;
		height: 1em;
		top: .2em;
	}
	&:focus{
		outline: none;
		&:before{
			border-color: #3F51B5;
		}
		&:after{
			background-color: #3F51B5;
			animation: blink_cursor .5s alternate infinite;
		}
	}
	input{
		display: none;
	}
	label{
		display: block;
		font-size: .4em;
		font-weight: 400;
		text-align: left;
		color: #3F51B5;
		padding-bottom: 1em;
	}
	b{
		position: relative;
		display: inline-block;
		font-weight: 700;
		bottom: 0;
		width: 1em;
		text-align: center;
		transition: all .4s;
		&.new_char{
			animation: pop_char .4s;
		}
		&.hide_char{
			animation: hide_char .4s;
		}
		&.hided_char{
			animation: hided_char .4s;
		}
		&.remove_char{
			width: 0;
		}
	}
}


/*---DEMO---*/
.motion_field{
	display: block;
	max-width: 9em;
	margin: 2em auto;
}
p{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 3em;
	margin: 1em 0;
}
.small{
	font-size: .8em;
	font-weight: 400;
	margin-top: 9em;
	color: gray;
	a{
		color: gray;
		text-decoration: none;
	}
}