body{
	background-color: lightgrey;
}
#ani{
	background-color: lightblue;
	display: none;
}
#road{
	border-bottom: 7px dashed black;
	padding-bottom: -2px;
}
#sam{
	padding-left: 290px; 
	float:left;
}
#runner{
	background: url("runner.png");
	width: 102px;
	height: 100px;
	animation: walk 5s steps(8) 1,
			   forward 6s forwards 1;
}

#login{
	box-sizing: border-box;
	width: 40%;
	margin: 100px auto 0;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
	padding-bottom: 40px;
	border-radius: 3px;
	background-color: lightgrey;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);
@-webkit-keyframes pop_char {
  from {
    bottom: -.5em;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes pop_char {
  from {
    bottom: -.5em;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@-webkit-keyframes hide_char {
  to {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes hide_char {
  to {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes hided_char {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes hided_char {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes blink_cursor {
  from {
    opacity: 0;
  }
}
@keyframes blink_cursor {
  from {
    opacity: 0;
  }
}
.motion_field {
  display: inline-block;
  position: relative;
  font-family: 'Roboto';
  font-size: 2.2em;
  color: #EEF7FA;
  min-width: 6em;
  min-height: 2.2em;
  padding: .4em .6em;
  text-align: center;
  cursor: text;
}
.motion_field:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: .2em;
  border: .08em solid #858F93;
  border-top-width: 0;
}
.motion_field:after {
  content: '';
  display: inline-block;
  position: relative;
  width: .08em;
  height: 1em;
  top: .2em;
}
.motion_field:focus {
  outline: none;
}
.motion_field:focus:before {
  border-color: #DEEFF5;
}
.motion_field:focus:after {
  background-color: #DEEFF5;
  -webkit-animation: blink_cursor .5s alternate infinite;
          animation: blink_cursor .5s alternate infinite;
}
.motion_field input {
  display: none;
}
.motion_field label {
  display: block;
  font-size: .45em;
  text-align: center;
  color: #888888;
  padding-bottom: 1em;
}
.motion_field b {
  position: relative;
  display: inline-block;
  font-weight: 700;
  bottom: 0;
  width: 1em;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.motion_field b.new_char {
  -webkit-animation: pop_char .4s;
          animation: pop_char .4s;
}
.motion_field b.hide_char {
  -webkit-animation: hide_char .4s;
          animation: hide_char .4s;
}
.motion_field b.hided_char {
  -webkit-animation: hided_char .4s;
          animation: hided_char .4s;
}
.motion_field b.remove_char {
  width: 0;
}

/*---DEMO---*/
.motion_field {
  display: block;
  max-width: 9em;
  margin: 2em auto;
}

p {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 3em;
  margin: 1em 0;
}

.small {
  font-size: .8em;
  font-weight: 400;
  margin-top: 9em;
  color: #DEEFF5;
}
.small a {
  color: #DEEFF5;
  text-decoration: none;
}

@keyframes walk{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: 817px;
	}
}

@keyframes forward{
	0%{
		transform: translateX(-120px);
	}
	100%{
		transform: translateX(200px);
	}
}

section, section div {
  /* See it in slo-mo, you can change this */
  transition-duration: .6s;
}
section, section div {
  /* See it in slo-mo, you can change this */
  transition-duration: .6s;
}

section, .button { transition-timing-function: ease; }

section {
  display: inline-block;
  position: relative;
  padding: .375rem .375rem 0;
  height: 2.5rem;
  width: 50%;
  background: #A9ADB6;
  border-radius: .25rem;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
  text-decoration: none;
}

a{
	color: black;
}

.button { opacity: 0; }

.cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.innie, .outie, .spine, .shadow { position: absolute; width: 100%; }

.innie, .outie {
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
  border-radius: .25rem;
}

svg {
	width: 40px;
	height: 40px;
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.25))
}

.innie {
  background-color: #67E2FE;
  text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}

.spine {
  top: .25rem;
  background: #20C7F3;
  height: .25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

.shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  transform-origin: center top;
  transform: rotateX(90deg);
  opacity: 0;
  z-index: 0;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
  border-radius: .4rem;

}

.outie {
  background-color: #2EC8FA;
  transform: translateZ(.25rem);
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

section:hover { background: #EBEFF2; }
section:hover .button { opacity: 1; }

section:hover .cover, section:hover .innie, section:hover .spine, section:hover .outie, section:hover .spine { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }

section:hover .cover { transform: rotateX(-120deg);  }

section:hover .innie { background-color: #3ADAFC; }
section:hover .spine { background-color: #52B1E0; }
section:hover .outie { background-color: #2174A0; color: rgba(255,255,255,0); }

section:hover .shadow { 
  opacity: 1;
  transform: rotateX(45deg) scale(.95);
}


small {
  font: .8rem/1 sans-serif;
  padding-top: 4rem;
  color: #777;
}
small a { color: #222; text-decoration: none; border-bottom: thin solid #ccc; }
small a:hover { border-bottom-color: #222; }